.heading_container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 15px 30px; /* Add padding distance */
  /* background-color: #f8f9fa; */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  */
}

.home_btn, .setting_btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.home_btn img, .setting_btn img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease; /* Thêm hiệu ứng khi hover */
}

.home_btn:hover img, .setting_btn:hover img {
  transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
}

/* Tiêu đề chính của dashboard */
.dashboard_title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 60px;
  letter-spacing: 1px;
  cursor: context-menu;
  font-family: 'Roboto', sans-serif;
}

/* Container cho các thẻ cards */
.cards_container {
  display: flex;
  flex-wrap: wrap; /* Cho phép các phần tử xuống dòng khi hết chỗ */
  justify-content: center; /* Căn đều các phần tử theo chiều ngang */
  margin-top: 40px;
}

/* Định dạng chung cho tất cả các thẻ card */
button {
  border: 1px solid #cccccc;
  border-radius: 15px;
  width: 300px;
  height: 150px;
  margin: 50px; /* Tạo khoảng cách giữa các thẻ */
  cursor: pointer;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow, background-color 0.2s ease-in-out; /* Tạo hiệu ứng mượt khi hover */
}

button:hover {
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2); /* Bóng đổ đậm hơn khi hover */
  background-color: #f2f2f2;
}

/* Đảm bảo mọi thẻ có cùng kích thước và kiểu */
.facebook_card,
.instagram_card,
.youtube_card,
.twitter_card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* color: black; */
  text-align: center;
}

/* for YOUTUBE DASHBOARD */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Align items to the left */
  margin-top: 20px; /* Optional: add some spacing from the title */
}

.item {
  flex: 1 1 30%; /* Set items to take up 30% of the container width */
  max-width: 150px; /* Set a maximum width for the items */
  background-color: #ffffff;
  padding: 15px; /* Reduced padding for smaller items */
  text-align: center;
  border: 5px solid #515151;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.count {
  display: block;
  font-weight: 700;
  color: #333;
}