.heading_container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.home_btn, .setting_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dashboard_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* align-self: flex-start;  */
    /* margin-top: 20px; */
}

.facebook_card {
    border: 1px solid red;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 600px; /*600px*/
    padding-bottom: 150px;
}
.instagram_card {
    border: 1px solid red;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 600px;
    padding-top: 15px;
    padding-bottom: 150px;
}
.instagram_img {
    margin-bottom: 10px;
}
.youtube_card {
    border: 1px solid red;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 600px;
    padding-bottom: 150px;
}
.twitter_card {
    border: 1px solid red;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 600px;
    padding-bottom: 150px;
}