.mode-setting-box {
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #000000;
    width: 100%;
    max-width: 250px;
}

.section {
    display: grid;
    grid-template-columns: 90px auto;
}

.font-change {
    display: flex;
    align-items: center;
}

#increase-btn, #decrease-btn {
    background-color: #6200ea; /* Custom background */
    color: white;              /* Button text color */
    border: none;              /* Remove border */
    width: 35px;
    height: 35px;      /* Button size */
    border-radius: 50px;       /* Rounded corners */
    font-size: 16px;           /* Font size */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;         /* Pointer on hover */
}

#language-select {
    appearance: none;  /* Removes the default arrow in most browsers */
    padding: 0 10px;             /* Padding for a bigger clickable area */
    border-radius: 5px;        /* Rounded corners */
    font-size: 16px;           /* Font size */
    cursor: pointer;           /* Pointer on hover */
    width: 90px;
    height: 50px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 15px;/* Space between setting button and switch */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cac6ec;
    transition: 0.1s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(0, 46, 253);
    transition: 0.1s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #000000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}