<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter/X Audience</title>
    <link rel="stylesheet" href="/css/audience.css">
    <script defer src="/js/audience.js"></script>
</head>
<body>
    <div class="navigation-bar-container">
        <div class="back-arrow-button" id="back-button">
            <img src="/Images/Media/backArrow.png">
        </div>
        <div class="x-logo-container">
            <img src="/Images/Media/TwitterLogo.png">
        </div>
        <div class="setting_button_container">
            <img src="/Images/setting_icon.png" height="30px">
        </div>
    </div>
    <div class="line-analysis-chart">
        <div class="line-analysis-main">
            <h3 class="line-analysis-header">Total New Followers Gained</h3>
            <canvas id="line-chart" width="500" height="220"></canvas>
        </div>
        <div class="line-analysis-side">
            <div class="overall-box">
                <h1 style="color: green">7,946</h1>
                <h4>Followers Gained</h4>
            </div>
            <div class="overall-box">
                <h1 style="color: red">2,876</h1>
                <h4>Followers Lost</h4>
            </div>
            <div class="overall-box">
                <h1 style="color: blue">145.24M</h1>
                <h4>Visited Audience</h4>
            </div>
            <div class="overall-box">
                <h1 style="color: rgb(64, 108, 163)">325</h1>
                <h4>New Subscribers</h4>
            </div>
        </div>
    </div>
    <div class="body-bottom">
        <div class="line-analysis-chart">
            <div class="line-analysis-main">
                <h3 class="line-analysis-header">Number Of Visited Audience</h3>
                <canvas id="line-chart-2" width="500" height="220"></canvas>
            </div>
        </div>
        <div class="circle-chart-container">
            <div class="circle chart-1">
                <div class="circle-inner">
                    <h3>Total: 145.24M</h3>
                </div>
            </div>
            <div class="circle-chart-footer">
                <div class="circle-chart-parameter-fragment">
                    <div class="color-description">
                        <h1 style="color: blue">24,7%</h1>
                        <h3>Video Links</h3>
                    </div>
                </div>
                <div class="circle-chart-parameter-fragment">
                    <div class="color-description">
                        <h1 style="color: cyan">20,1%</h1>
                        <h3>Plain Texts</h3>
                    </div>
                </div>
                <div class="circle-chart-parameter-fragment">
                    <div class="color-description">
                        <h1 style="color: rgb(46, 107, 54)">59,2%</h1>
                        <h3>Photo Links</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>