<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter/X Interactions</title>
    <link rel="stylesheet" href="/css/interactions.css">
    <script defer src="/js/interactions.js" type="module"></script>
    <script defer src="/js/pageFunction.js"></script>
</head>
<body>
    <div class="navigation-bar-container">
        <div class="back-arrow-button" id="back-button">
            <img src="/Images/Media/backArrow.png">
        </div>
        <div class="x-logo-container">
            <img src="/Images/Media/TwitterLogo.png">
        </div>
        <div class="setting_button_container">
            <img src="/Images/setting_icon.png" height="30px">
        </div>
    </div>
    <div class="line-analysis-container">
        <div class="line-analysis-main">
            <h3 class="line-analysis-header">Interactions</h3>
            <canvas id="line-chart" width="500" height="220"></canvas>
        </div>
    </div>
</body>
</html>