<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter/X Interactions</title>
    <link rel="stylesheet" href="/css/interactions.css">
    <script defer src="/js/interactions.js"></script>
</head>
<body>
    <div class="navigation-bar-container">
        <div class="back-arrow-button" id="back-button">
            <img src="/Images/Media/backArrow.png">
        </div>
        <div class="x-logo-container">
            <img src="/Images/Media/TwitterLogo.png">
        </div>
        <div class="setting_button_container">
            <img src="/Images/setting_icon.png" height="30px">
        </div>
    </div>
    <div class="circle-analysis-container">
        <div class="circle-chart">
            <div class="circle-inner">
                <h4>Total: 420,2K</h4>
            </div>
        </div>
        <div class="circle-chart-footer">
            <div class="circle-chart-parameter-fragment">
                <div class="color-description">
                    <h1 style="color: blue">42,1K</h1>
                    <h3>Verified</h3>
                </div>
            </div>
            <div class="circle-chart-parameter-fragment">
                <div class="color-description">
                    <h1 style="color: cyan">377,9K</h1>
                    <h3>Others</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>