<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter/X Reposts</title>
</head>
<body>
    <div class="navigation-bar-container">
        <div class="back-arrow-button" id="back-button">
            <img src="Images/Media/backArrow.png">
        </div>
        <div class="x-logo-container">
            <img src="Images/Media/TwitterLogo.png">
        </div>
        <div class="setting_button_container">
            <img src="Images/setting_icon.png" height="30px">
        </div>
    </div>
    <div class="circle-analysis-container">
        <div class="circle-chart">
            <div class="circle-inner">
                <h4>Total: 854</h4>
            </div>
        </div>
    </div>
</body>
</html>