<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View for twitter</title>
    <link rel="icon" href="Images/Media/CircleLogo.png">
    <link rel="stylesheet" href="css/twitter.css" type="text/css">
    <script defer src="js/twitter.js"></script>
</head>
<body>
    <div class="navigation-bar-container">
        <div class="back-arrow-button" id="back-button">
            <img src="Images/Media/backArrow.png">
        </div>
        <div class="x-logo-container">
            <img src="Images/Media/TwitterLogo.png">
        </div>
        <div class="setting_button_container">
            <img src="Images/setting_icon.png" height="30px">
        </div>
    </div>
    <div class="twitter-analysis-container">
        <!-- The fragment which contains the table which shows the overall analysis -->
        <div class="interaction-analytics">
            <div class="interaction-analytics-header">
                <h2>Overall data</h2>
            </div>
            <div class="interaction-analytics-body">
                <!-- Analysis for likes -->
                <div class="likes-container interaction-analytics-box">
                    <div class="box-header">
                        <div class="icon-container">
                            <img src="Images/Media/LikeIcon.png" alt="">
                        </div>
                        <div class="title">
                            <h3>Likes</h3>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="number">
                            <h1>10,234</h1>
                        </div>
                        <div class="change">
                            <h5>3%</h5>
                            <img src="Images/Media/UpArrow.png" alt="" class="increase-icon">
                        </div>
                    </div>
                </div>
                <!-- Analysis for reposts -->
                <div class="reposts-container interaction-analytics-box">
                    <div class="box-header">
                        <div class="icon-container">
                            <img src="Images/Media/repostIcon.png" alt="">
                        </div>
                        <div class="title">
                            <h3>Reposts</h3>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="number">
                            <h1>1,119</h1>
                        </div>
                        <div class="change">
                            <h5>6%</h5>
                            <img src="Images/Media/DownArrow.png" alt="" class="decrease-icon">
                        </div>
                    </div>
                </div>
                <!-- Analysis for comments -->
                <div class="comments-container interaction-analytics-box">
                    <div class="box-header">
                        <div class="icon-container">
                            <img src="Images/Media/commentIcon.png" alt="">
                        </div>
                        <div class="title">
                            <h3>Comments</h3>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="number">
                            <h1>456</h1>
                        </div>
                        <div class="change">
                            <h5>2%</h5>
                            <img src="Images/Media/DownArrow.png" alt="" class="decrease-icon">
                        </div>
                    </div>
                </div>
                <!-- Analysis for audiences -->
                <div class="audience-container interaction-analytics-box">
                    <div class="box-header">
                        <div class="icon-container">
                            <img src="Images/Media/AudienceIcon.png" alt="">
                        </div>
                        <div class="title">
                            <h3>Audience</h3>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="number">
                            <h1>345,123</h1>
                        </div>
                        <div class="change">
                            <h5>7%</h5>
                            <img src="Images/Media/UpArrow.png" alt="" class="increase-icon">
                        </div>
                    </div>
                </div>
                <!-- Analysis for new followers -->
                <div class="new-followers-container interaction-analytics-box">
                    <div class="box-header">
                        <div class="icon-container">
                            <img src="Images/Media/NewFollowers.png" alt="">
                        </div>
                        <div class="title">
                            <h3>New Followers</h3>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="number">
                            <h1>235</h1>
                        </div>
                        <div class="change">
                            <h5>3%</h5>
                            <img src="Images/Media/UpArrow.png" alt="" class="increase-icon">
                        </div>
                    </div>
                </div>
                <!-- Analysis for revenue -->
                <div class="revenue-container interaction-analytics-box">
                    <div class="box-header">
                        <div class="icon-container">
                            <img src="Images/Media/RevenueIcon.png" alt="">
                        </div>
                        <div class="title">
                            <h3>Revenue</h3>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="number">
                            <h1>$1,334</h1>
                        </div>
                        <div class="change">
                            <h5>5%</h5>
                            <img src="Images/Media/UpArrow.png" alt="" class="increase-icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- The fragment which contains circle chart-->
        <div class="circle-analysis-container">
            <div class="circle-analysis-main">
                <div class="circle-analysis-header">
                    <h3>Engagement Habits</h3>
                </div>
                <div class="circle-analysis-content">
                    <div class="circle-chart-container">
                        <div class="circle chart-1">
                            <div class="circle-inner">
                                <h4>Total: 854</h4>
                            </div>
                        </div>
                        <div class="circle-chart-footer">
                            <p class="chart-footer-text">August</p>
                        </div>
                    </div>
                    <div class="circle-chart-container">
                        <div class="circle chart-2">
                            <div class="circle-inner">
                                <h4>Total: 967</h4>
                            </div>
                        </div>
                        <div class="circle-chart-footer">
                            <p class="chart-footer-text">September</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="circle-analysis-footer">
                <div class="parameter-fragment">
                    <div class="color-representation lime"></div>
                    <div class="color-description">
                        <p class="color-text">Plain text</p>
                    </div>
                </div>
                <div class="parameter-fragment">
                    <div class="color-representation green"></div>
                    <div class="color-description">
                        <p class="color-text">Photo links</p>
                    </div>
                </div>
                <div class="parameter-fragment">
                    <div class="color-representation blue"></div>
                    <div class="color-description">
                        <p class="color-text">Page links</p>
                    </div>
                </div>
                <div class="parameter-fragment">
                    <div class="color-representation cyan"></div>
                    <div class="color-description">
                        <p class="color-text">Video links</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- The fragment which contains the linear chart (incomplete) -->
        <div class="line-analysis-container">
            <div class="line-analysis-main">
                <h4 class="line-analysis-header">Interactions</h4>
                <canvas id="line-chart" width="400" height="200"></canvas>
            </div>
            <div class="line-analysis-footer">

            </div>
        </div>
        <div class="pillar-analysis-container">
            
        </div>
    </div>
</body>
</html>