.change-dashboard-section {
    border: 1px solid red;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    position: absolute;
    right: 0; 
    margin-right: 20px;
}

.change-dashboard-section p {
    font-size: 18px;
    font-weight: bold;
}

.change-dashboard-section .media-btn {
    display: flex;
    justify-content: center; 
    gap: 40px;
}

.change-dashboard-section .media-btn img {
    height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.change-dashboard-section .media-btn img:last-child {
    margin-right: 0;
}

/* --------------------------- */

.your-choice-section {
    border: 1px solid red;
    width: 450px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 300px;
    right: 0; 
    margin-right: 20px;
}

.your-choice-section p {
    font-size: 18px;
    font-weight: bold;
}

.your-choice-section .media-btn {
    display: flex;
    justify-content: center; 
    gap: 40px;
}

.your-choice-section .media-btn img {
    height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.change-dashboard-section .media-btn img:last-child {
    margin-right: 0;
}