* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.settings-container {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.settings-container .setting-heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.profile-info {
    text-align: left;
    width: 100%;
}

.profile-info .profile-name, 
.profile-info .profile-email, 
.profile-info .profile-phone, 
.profile-info .profile-address {
    display: flex;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 8px;
}

.logout-btn {
    display: inline-block;
    text-decoration: none;
    color: #ff0000;
    font-size: 14px;
    cursor: pointer;
    text-align: right;
}

.buttons {
    margin-top: 20px;
}

.buttons .camera,
.buttons .premium,
.buttons .connect {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.buttons button {
    margin-left: 30px;
    width: 65px;
    padding: 4px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.buttons p {
    margin-left: 10px;
    font-size: 13px;
    color: black;
}

.buttons button:hover {
    background-color: #0056b3;
}
