* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-width: 450px;
    font-family: 'Roboto', sans-serif;
}

.navigation-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
}

.back-arrow-button, .setting_button_container {
    max-width: 32px;
    max-height: 32px;
    cursor: pointer;
}

.x-logo-container {
    max-width: 50px;
    max-height: 50px;
}

.back-arrow-button img, .setting_button_container img, .x-logo-container img {
    width: 100%;
    height: 100%;
}