body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: auto;
    transition: background-color 0.4s;
}

:root {
    --image-filter-value: brightness(0) invert(1);
    --heading-background: linear-gradient(to right, #2825ec, #6838ec);
    --home-btn-background: linear-gradient(to right, #e925b8, #1605ad);
    --home-btn-background-hover: linear-gradient(to right, #cfcfff, #fa2ec4);
}

.dark-mode {
    --image-filter-value: brightness(0) invert(0.09);
    --heading-background: linear-gradient(to right, #c2c2c2, #5c5b5b);
    --home-btn-background: linear-gradient(to right, #7c7c7c, #d8d8d8);
    --home-btn-background-hover: linear-gradient(to right, #9B2323, #F3BD86);
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -9999; /* Ensures video stays behind all content */
}

/* Heading container - stays at the top */
.heading-container {
    display: flex;
    justify-content: space-between;  /* Place items on the left, center, and right */
    align-items: center;             /* Vertically center items */
    padding: 30px 60px;                /* Adjust height as needed */
    background: var(--heading-background);
    height: 105px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);  
    width: 100%;                     /* Make container stretch full width */
    box-sizing: border-box;           /* Include padding in element's width */
}
.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 20px; /* Set height for frame background */
    padding: 10px; /* Inner distance */
    background: linear-gradient(to right, #3e6dc4, #140000); /* Background color for the frame */
    border-radius: 10px; /* Round the corners of the frame */
}

.home_btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--home-btn-background); 
    padding: 10px; /* Set padding for the button */
    border-radius: 10px; 
    margin: 0 10px; 
    transition: background 0.33s; 
}
.home_btn:hover:hover {
    background: var(--home-btn-background-hover);
}

.home_btn img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease; 
    filter: var(--image-filter-value);
}

.home_btn:hover img {
    transform: scale(1.15); 
}

/* Main content area - centered on the screen */
/* body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;                   /* Full viewport height */
    /* padding-top: 120px;              /* Add padding to prevent overlap with the heading */
    /* box-sizing: border-box; */
/*} */

.setting-box {
    display: flex;
    justify-content: start;
}

/* Settings container - centered */
.settings-container {
    margin: 20px;
    background-color: #fff;
    width: 250px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Settings heading */
.settings-container .setting-heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

/* Profile section */
.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 0;
    margin-right: 20px;
}

.profile-info {
    text-align: left;
    width: 100%;
}

.profile-info .profile-sector {
    font-size: 14px;
    margin-bottom: -15px;
    display: flex;
    align-items: center;
}

.profile-info .profile-sector .profile-name-tag,
.profile-info .profile-sector .profile-email-tag,
.profile-info .profile-sector .profile-phone-tag,
.profile-info .profile-sector .profile-address-tag {
    margin-right: 10px; /* Add space between tag and value */
}

.profile-info .profile-sector input {
    width: 50px;
    padding: 5px; /* Padding for input fields */
    border: 1px solid #ccc; /* Border for input fields */
    border-radius: 4px; /* Rounded corners for inputs */
    flex: 1; /* Allow input to take available space */
}

.logout-btn {
    color: #ff0000;
    font-size: 14px;
    cursor: pointer;
    text-align: right;
}

/* Button styles */
.buttons {
    margin-top: 15px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons .camera,
.buttons .premium {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
}

.buttons button {
    width: 65px;
    padding: 4px;
    background-color: #919294;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.buttons p {
    font-size: 13px;
    color: black;
}

.buttons .buttons-btn {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center; 
    gap: 40px;
}

.buttons .buttons-btn img {
    align-self: center;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #b9b9ba;
}

.mode-setting-box {
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #000000;
    width: 100%;
    max-width: 250px;
    height: 300px;
    background-color: #cac6ec;
}
/* Settings heading */
.mode-setting-box .mode-setting-heading {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.section {
    display: grid;
    grid-template-columns: 90px auto;
}
.font-change {
    display: flex;
    align-items: center;
    justify-content: center;
}
#increase-btn, #decrease-btn {
    background-color: #6200ea; /* Custom background */
    color: white;              /* Button text color */
    border: none;              /* Remove border */
    width: 35px;
    height: 35px;      /* Button size */
    border-radius: 50px;       /* Rounded corners */
    font-size: 16px;           /* Font size */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;         /* Pointer on hover */
}
#language-select {
    appearance: none;  /* Removes the default arrow in most browsers */
    padding: 0 10px;             /* Padding for a bigger clickable area */
    border-radius: 5px;        /* Rounded corners */
    font-size: 16px;           /* Font size */
    cursor: pointer;           /* Pointer on hover */
    width: 90px;
    height: 50px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 15px;/* Space between setting button and switch */
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6EEE6;
    transition: 0.1s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(0, 46, 253);
    transition: 0.1s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #eee6e6;
}
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Container for the cards */
.button_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

.button_settings p {
    font-size: 18px;
    font-weight: bold;
}

/* Make sure every card has the same size and style */
.like_card,
.share_card,
.comment_card,
.subscribe_card,
.revenue_card,
.follower_card,
.pagelike_card,
.message_card,
.react_card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
}

.button_settings .first_row, .second_row, .third_row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* Container for the cards */
.change-and-choose-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}

.change-dashboard-section,
.your-choice-section {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin: 20px; 
    padding: 20px; 
}

.change-dashboard-section,
.your-choice-section {
    width: 400px; 
    height: 150px; 
}

.change-dashboard-section p,
.your-choice-section p {
    font-size: 18px;
    font-weight: bold;
}

.change-dashboard-section .media-btn,
.your-choice-section .media-btn {
    display: flex;
    justify-content: center; 
    gap: 40px;
}

.change-dashboard-section .media-btn img,
.your-choice-section .media-btn img {
    height: 70px;
    cursor: pointer;
}

.change-dashboard-section .media-btn img {
    margin-bottom: 30px; 
}

.your-choice-section .media-btn img {
    margin-top: 30px; 
    margin-bottom: 30px; 
}

/* Container for the cards */
.cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

/* Make sure every card has the same size and style */
.facebook_card,
.instagram_card,
.youtube_card,
.twitter_card {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
}

.first_row, .second_row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}