* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-width: 450px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-border-raidus: 20px;
    --circular-border-raidus: 50%;
    --main-box-shadow-color: rgb(166, 169, 173);
    --main-border-color: rgb(78, 79, 79);
    --outer-circle-diameter: 250px;
    --inner-circle-diameter: 150px;
    --line-padding: 45px;
    --single-pillar-width: 50px;
    --double-pillar-width: 60px;
    --single-pillar-gap: 16px;
    --double-pillar-gap: 24px;
}

.navigation-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
}

.back-arrow-button, .setting_button_container {
    max-width: 32px;
    max-height: 32px;
    cursor: pointer;
}

.youtube-logo-container {
    max-width: 50px;
    max-height: 50px;
}

.back-arrow-button img, .setting_button_container img, .youtube-logo-container img {
    width: 100%;
    height: 100%;
}

.circle-analysis-container {
    margin: 15px;
    padding: 15px;
    border-radius: var(--main-border-raidus);
    border: 1px solid var(--main-box-shadow-color);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-chart-container {
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: var(--outer-circle-diameter);
    height: var(--outer-circle-diameter);
    position: relative;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
}

.circle-inner {
    width: var(--inner-circle-diameter);
    height: var(--inner-circle-diameter);
    background-color: white;
    z-index: 1;
}

.circle-inner h4 {
    max-width: 60px;
    text-align: center;
}

.circle, .circle-inner {
    border-radius: var(--circular-border-raidus);
    border: 1px solid var(--main-border-color);    
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: rotate(0deg) scale(0.5);
    animation: rotateAppear 3s ease-out forwards;
}

.chart-1 {
    background-image: conic-gradient(
        blue 0% 19%,
        cyan 19% 100%
    )
}

.chart-2 {
    background-image: conic-gradient(
        rgb(168, 80, 50) 0% 11%,
        rgb(51, 153, 181) 11% 100%
    )
}

.blue {
    color: blue;
}

.cyan {
    color: cyan;
}

.brown {
    color: rgb(168, 80, 50);
}

.dark-green {
    color: rgb(50, 168, 143);
}

.ocean {
    color: rgb(51, 153, 181);
}

.circle-chart-footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: flex-start;
    gap: 6px;
}

.color-description {
    padding: 0 6px;
}

.circle-chart-parameter-fragment {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: upAppear 1.1s ease-in-out;
}

.pillar-analysis {
    display: grid;
    grid-template-columns: auto auto;
}

.pillar-analysis-container {
    border: 1px solid var(--main-box-shadow-color);
    border-radius: var(--main-border-raidus);
    margin: 10px 15px;
    padding: 10px 15px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.pillar-chart {
    display: flex;
    align-items: flex-end;
    height: 300px;
    width: 100%;
    padding: 24px var(--line-padding);
    position: relative;
}

.pillar-chart .vertical-line {
    position: absolute;
    background-color: black;
    width: 2px;
    height: calc(100% - 48px);
    left: var(--line-padding);
    top: 25px;
}

.pillar-chart .line-separation {
    position: absolute;
    background-color: gray;
    width: calc(100% - var(--line-padding) * 2);
    height: 1px;
    left: var(--line-padding)
}

.pillar-chart.char-1 .line-value {
    position: absolute;
    color: black;
    left: 0
}

.pillar-chart.char-2 .line-value {
    position: absolute;
    color: black;
    left: -5px;
}

.pillar-chart .unit {
    position: absolute;
    color: black;
    left: 0px;
    top: 10px;
}

.line-1 {
    top: 25px;
}

.line-2 {
    top: 75px;
}

.line-3 {
    top: 125px;
}

.line-4 {
    top: 175px;
}

.line-5 {
    top: 225px;
}

.line-6 {
    top: 275px;
}

.value-1 {
    top: 67px;
}

.value-2 {
    top: 117px;
}

.value-3 {
    top: 167px;
}

.value-4 {
    top: 217px;
}

.pillar-chart .pillar {
    width: var(--single-pillar-width);
    height: 0;
    background-color: #3498db;
    color: black;
    text-align: center;
    margin-top: auto;
    transition: 0.9s;
    z-index: 1;
    border: 1px solid rgb(13, 13, 13);
    margin: 0 calc(var(--single-pillar-gap) / 2);
    visibility: hidden;
}

.pillar.active {
    visibility: visible;
}

.pillar-chart .text {
    position: absolute;
    bottom: 0px;
}

.pillar-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--double-pillar-width);
    visibility: hidden;
    margin: 0 calc(var(--double-pillar-gap) / 2);
}

.double-pillar {
    width: var(--double-pillar-width);
    height: 0;
    color: white;
    text-align: center;
    transition: height 0.9s ease;
    border: 1px solid rgb(13, 13, 13);
    margin: 0 calc(var(--double-pillar-gap) / 2);
    z-index: 1;
}

.pillar-big-data {
    background-color: rgb(51, 153, 181);;
}

.pillar-small-data {
    background-color: rgb(50, 168, 143);
}

.pillar-group.active {
    visibility: visible;
}

.pillar-chart.char-1 .text-1 {
    left: calc(var(--line-padding) + 20px + (var(--single-pillar-gap) + var(--single-pillar-width)) * 0);
}

.pillar-chart.char-1 .text-2 {
    left: calc(var(--line-padding) + 20px + (var(--single-pillar-gap) + var(--single-pillar-width)) * 1);
}

.pillar-chart.char-1 .text-3 {
    left: calc(var(--line-padding) + 20px + (var(--single-pillar-gap) + var(--single-pillar-width)) * 2);
}

.pillar-chart.char-1 .text-4 {
    left: calc(var(--line-padding) + 20px + (var(--single-pillar-gap) + var(--single-pillar-width)) * 3);
}

.pillar-chart.char-1 .text-5 {
    left: calc(var(--line-padding) + 20px + (var(--single-pillar-gap) + var(--single-pillar-width)) * 4);
}

.pillar-chart.char-1 .text-6 {
    left: calc(var(--line-padding) + 20px + (var(--single-pillar-gap) + var(--single-pillar-width)) * 5);
}

.pillar-chart.char-1 .text-7 {
    left: calc(var(--line-padding) + 20px + (var(--single-pillar-gap) + var(--single-pillar-width)) * 6);
}

.pillar-chart.char-2 .text-1 {
    left: calc(var(--line-padding) + 25px + (var(--double-pillar-gap) + var(--double-pillar-width)) * 0);
}

.pillar-chart.char-2 .text-2 {
    left: calc(var(--line-padding) + 25px + (var(--double-pillar-gap) + var(--double-pillar-width)) * 1);
}

.pillar-chart.char-2 .text-3 {
    left: calc(var(--line-padding) + 25px + (var(--double-pillar-gap) + var(--double-pillar-width)) * 2);
}

.pillar-chart.char-2 .text-4 {
    left: calc(var(--line-padding) + 25px + (var(--double-pillar-gap) + var(--double-pillar-width)) * 3);
}

.pillar-chart.char-2 .text-5 {
    left: calc(var(--line-padding) + 25px + (var(--double-pillar-gap) + var(--double-pillar-width)) * 4);
}

.pillar-chart.char-2 .text-6 {
    left: calc(var(--line-padding) + 25px + (var(--double-pillar-gap) + var(--double-pillar-width)) * 5);
}

@keyframes rotateAppear {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0.5);
      }
      50% {
        opacity: 1;
        transform: rotate(180deg) scale(1);
      }
      100% {
        opacity: 1;
        transform: rotate(360deg) scale(1);
      }
}

@keyframes upAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .circle-analysis-container {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .pillar-analysis {
        grid-template-columns: auto;
    }
}