.heading_container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 60px; 
    background: linear-gradient(to right, #2825ec, #5454f0); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);  
}


.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 20px; /* Đặt chiều cao cho background khung */
    padding: 10px; /* Khoảng cách bên trong */
    background: linear-gradient(to right, #3e6dc4, #140000); /* Màu nền cho khung */
    border-radius: 10px; /* Làm tròn các góc của khung */
}

.home_btn, .setting_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(to right, #e925b8, #1605ad); 
    padding: 10px; /* Đặt padding cho nút */
    border-radius: 10px; 
    margin: 0 10px; 
    transition: background 0.33s; 
}

.home_btn:hover, .setting_btn:hover {
    background: linear-gradient(to right, #cfcfff, #fa2ec4); 
}

.home_btn img, .setting_btn img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease; 
}

.home_btn:hover img, .setting_btn:hover img {
    transform: scale(1.15); 
}

/* Tiêu đề chính của dashboard */
.dashboard_title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #030202;
    margin-top: 60px;
    letter-spacing: 1px;
    cursor: context-menu;
    font-family: 'Roboto', sans-serif;
}

/* Container cho các thẻ cards */
.cards_container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 20px;
}

/* Định dạng chung cho tất cả các thẻ card */
button {
    border: 1px solid #cccccc;
    border-radius: 15px;
    width: 460px;
    height: 220px;
    margin: 70px; 
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow, background-color 0.2s ease-in-out; 
}

button:hover {
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2); 
    background-color: #f2f2f2;
}

/* Đảm bảo mọi thẻ có cùng kích thước và kiểu */
.facebook_card,
.instagram_card,
.youtube_card,
.twitter_card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
}
